.mid{
    position: relative;
    background-color: #E5E5E5;
    margin: 0px 0px 10px 260px;
    padding: 10px;
    min-height: 1200px;
    
}
.res{
    background-color: #3F0E40;
    color: #E5E5E5;
    border-radius: 8px;
    position: absolute;
width: 167.84px;
height: 45px;
left: 560px;
top: 600px;
}
.text{
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}