.top{
   height: 85px;
   background-color: purple;
   margin-left: 0;
}
.first{
    display: flex;
    background-color: aliceblue;
    width: 17%;
}
h2{
    padding:6px;
    margin-top: 25px;
}
.h1{
    margin-left: 15%;
    color: white;
}
.search{
    display: flex;
    flex-direction: row;
}
.submit{
border-radius: 80px;
    margin-left: 180px;
    margin-top: 33px;
    height: 40px;
    width: 80px;
}
.img1{
    height: 25px;
    margin-top: 38px;
    margin-left: 30px;
}
.avatar{
    margin-top: 22px;
    margin-left: 450px;
}
.arrow{
    margin-left: 480px;
margin-top: -20px;
}