.top{
   
   background-color: #3F0E40;
   margin: 0px;
   position: relative;
   min-height: 80px;
}
.first{
    display: flex;
    background-color: #FFFFFF;
    width: 17%;
}
h2{
    padding:6px;
    margin-top: 25px;
}
.h1{
    margin-left: 15%;
    color: white;
}
.search{
    display: flex;
    flex-direction: row;
}
.submit{
    position: absolute;
    width: 44px;
    height: 18px;
    left: 280px;
    top: 5.7px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #3F0E40;
}
.img1{
    height: 25px;
    margin-top: 38px;
    margin-left: 30px;
}
.avatar{
    margin-top: 22px;
    margin-left: 750px;
}

.search_submit{
    position: absolute;
    width: 347.5px;
    height: 37.56px;
    left: 700px;
    top: 15px;
    text-align: right;
    background: #F8F8F8;
    border-radius: 7.63736px;
}